* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: green;
    overflow: hidden;
    
}
section {
    margin: 100px;
    font-weight: bold;
    font-size: 6rem;
}
.head {
    border: 4px solid black;
    padding:40px;
    width: 60%;
    margin-bottom: 10px;

   
}
.nav {
    padding: 40px;
    border: 4px solid black;
    width: 60%;
    text-align: center;
}
.main {
    display: flex;
    flex-direction:row;
    margin-top: 10px;
}
.content1 {
  border: 4px solid black;
  padding: 115px;
  padding-top: 200px;
  /* padding-bottom: 100px; */
  margin-right: 10px;
}
.content2 {
    border: 4px solid black;
  padding: 115px;
  /* padding-bottom: 100px; */
  margin-left: 10px;
  padding-top: 200px;
  
}
.mcontent {
    border: 4px solid black;
    padding: 200px;
}
footer {
    padding: 40px;
    border: 4px solid black;
    width: 60%;
    text-align: center;
    margin-top: 10px;
}
